@page "/products"
@inject HttpClient HttpClient
@inject NavigationManager NavManager
@inject IDialogService DialogService

<MudText Class="my-5 ml-2" Typo="Typo.h5">Tooted</MudText>

<MudTable Class="mb-5" Items="_products" Loading="_isLoading" Hover="true">
    <ToolBarContent>
        <MudGrid>
            <MudItem xs="8">
                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="AddProduct" Title="Lisa uus" />
            </MudItem>
            <MudItem xs="4">
                <MudTextField Class="mt-0" @bind-Value="_searchTerm" @bind-Value:after="LoadData" Placeholder="Otsi koodi järgi..."
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"></MudTextField>
            </MudItem>
        </MudGrid>
    </ToolBarContent>
    <LoadingContent>
        <MudText Typo="Typo.body2">Oota, otsin tooteid...</MudText>
    </LoadingContent>
    <NoRecordsContent>
        <MudText Typo="Typo.body2">Tooted puuduvad.</MudText>
    </NoRecordsContent>
    <ColGroup>
        <col style="width: 25%" />
        <col style="width: 40%" />
        <col style="width: 20%" />
        <col style="width: 15%" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Kood</MudTh>
        <MudTh>Nimi</MudTh>
        <MudTh>Hind</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Code</MudTd>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Price</MudTd>
        <MudTd Style="text-align:end">
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="() => DeleteProduct(context.Id)" Title="Kustuta" />
            <MudIconButton Class="ml-2" Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="() => EditProduct(context.Id)" Title="Muuda" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <div class="d-flex justify-center">
            <MudPagination Class="pa-4" Count="_pageCount" @bind-Selected="_pageNo" @bind-Selected:after="NavigateToPage" />
        </div>
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<ProductListItemModel> _products = Enumerable.Empty<ProductListItemModel>();
    private string? _searchTerm;
    private int _pageNo;
    private int _pageSize = 10;
    private int _pageCount;
    private bool _isLoading;

    [Parameter, SupplyParameterFromQuery] public string? SearchTerm { get; set; }
    [Parameter, SupplyParameterFromQuery] public int? PageNo { get; set; }
    [Parameter, SupplyParameterFromQuery] public int? PageSize { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _searchTerm = SearchTerm;
        _pageNo = PageNo ?? 1;
        //_pageSize = PageSize ?? 10;

        await LoadData();
    }

    #region event handlers
    private async Task AddProduct()
    {
        var parameters = new DialogParameters();
        parameters.Add("Product", new ProductModel());

        var result = await DialogService.Show<ProductFormDialog>("Uus toode", parameters).Result;

        if (result.Canceled) return;

        ProductModel product = (ProductModel)result.Data;

        var httpResponse = await HttpClient.PostAsJsonAsync<ProductModel>("/product", product);
        if (!httpResponse.IsSuccessStatusCode) throw new Exception("Failed to add product.");

        await LoadData();
    }

    private async Task EditProduct(int id)
    {
        ProductModel? product = await HttpClient.GetFromJsonAsync<ProductModel>($"/product/{id}");
        if (product is null) throw new Exception("Product not found.");

        var parameters = new DialogParameters();
        parameters.Add("Product", product);

        var result = await DialogService.Show<ProductFormDialog>("Muuda toodet", parameters).Result;

        if (result.Canceled) return;

        product = (ProductModel)result.Data;

        var httpResponse = await HttpClient.PutAsJsonAsync<ProductModel>("/product", product);
        if (!httpResponse.IsSuccessStatusCode) throw new Exception("Failed to edit product.");

        await LoadData();
    }

    private async Task DeleteProduct(int id)
    {
        bool? result = await DialogService.ShowMessageBox("Kustutamine", "Kas kustutame toote?", yesText: "Kustuta", cancelText: "Katkesta");

        if (result is not null)
        {
            var httpResponse = await HttpClient.DeleteAsync($"product/{id}");
            if (!httpResponse.IsSuccessStatusCode) throw new Exception("Failed to delete product.");

            await LoadData();
        }
    }
    #endregion

    #region helpers
    private async Task LoadData()
    {
        _isLoading = true;

        var uriWithQueryString = NavManager.GetUriWithQueryParameters("/api/products", new Dictionary<string, object?>
            {
                [nameof(GetProductsRequest.SearchTerm)] = string.IsNullOrWhiteSpace(_searchTerm) ? null : _searchTerm,
                [nameof(GetProductsRequest.PageNo)] = _pageNo,
                [nameof(GetProductsRequest.PageSize)] = _pageSize
            });
        var response = await HttpClient.GetFromJsonAsync<GetProductsRequest.Response>(uriWithQueryString);

        _products = response?.PagedList ?? Enumerable.Empty<ProductListItemModel>();
        _pageCount = response?.PageCount ?? default;

        _isLoading = false;
    }

    private void NavigateToPage()
    {
        var uriWithQueryString = NavManager.GetUriWithQueryParameters(new Dictionary<string, object?>
            {
                [nameof(GetProductsRequest.SearchTerm)] = string.IsNullOrWhiteSpace(_searchTerm) ? null : _searchTerm,
                [nameof(GetProductsRequest.PageNo)] = _pageNo,
                //[nameof(GetProductsRequest.PageSize)] = _pageSize
            });

        NavManager.NavigateTo(uriWithQueryString);
    }
    #endregion
}
